* {
  margin: 3;
  padding: 3;
  box-sizing: border-box;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

body {
  background: #333333;
  color: #e2e2e2
}

.card {
  width: 55vw;
  height: 40vh;
  margin: 15vh 15vw;
  padding: 5vw;
  background: gray;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.profile-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #4DABF7
}

.profile-content {
  display: grid;
  gap: 2rem;
}

.profile-header {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.profile-details {
  display: flex;
}

.bwu-quote {
  display: flex;
}

.profile-about {
  display: flex;
}